<!-- STEPS -->
LES ÉTAPES
<ul class="list-group">
<!-- <ul class="list-group" ng-repeat="step in stepList"> -->
  <li ng-repeat="step in stepList | orderBy:'_id'" ng-class="{active : stepSelected === step}" ng-click="setActiveStep(step)" class="list-group-item"> {{step.name}}
    <!-- <span ng-click="RemoveStep(step._id)" class="badge">
      <i class="fa fa-times"></i>
    </span> -->
    <span ng-click="RemoveStep(step._id)" class="pull-right label label-danger">
      <i class="fa fa-trash"></i>
    </span>
  </li>
</ul>

<button ng-click="addStep()" class="btn btn-primary"><i class="fa fa-plus"></i></button>

<!-- POIS -->
<div ng-show="poiList.length > 0">
  <br/>
LES POIS
{{poiListId}}
<ul class="list-group">
<!-- <ul class="list-group" ng-repeat="poi in poiList"> -->
  <li  ng-repeat="poi in poiList | orderBy:'_id'" class="list-group-item"> {{poi.name}}
    <!-- <span ng-click="RemoveStep(step._id)" class="badge">
      <i class="fa fa-times"></i>
    </span> -->
    <!-- <span ng-click="RemoveStep(step._id)" class="pull-right label label-danger">
      <i class="fa fa-trash"></i>
    </span> -->
  </li>
</ul>
</div>

<!-- <div class="list-group" ng-repeat="step in stepList">
  <a href="" class="list-group-item">Step numero {{step._id}}</a>
  <button ng-click="RemoveStep(step._id)" class="btn btn-danger"> Supprimer</button>
</div> -->
