<div class="container container-padding">
    <div class="row">
    <div class="col-xs-12">

      <div class="panel panel-default">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <h2 class="margin-base-vertical">Adresse</h2>
            <p>
              Départ de la COT
            </p>

            <form class="margin-base-vertical">

              <p class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control input-lg" name="lieu" placeholder="Nice, place massena" ng-model="lieu" ng-keypress="EnterPressed($event, lieu)"/>
              </p>

                <!--href="#!/cot-step"-->
                <a href="" class="btn btn-block btn-lg btn-primary" ng-click="TreatAdress(lieu)">Créer la Chasse aux Trésors</a>

              <p class="help-block text-center" id="cot-start-help"><small>Une  chasse aux trésors est composé de plusieurs étapes,<br/> Une étape est composée de plusieurs quêtes,<br/> Une quête correspond à un lieu et un défi à résoudre.</small></p>


            </form>
          </div>
        </div>
      </div>
      <!-- //main content -->

    </div>
  </div>
  </div>
