<div class="container-fluid">
  <div class="row" id="cot-step-row">
    <div class="col-xs-3" id="cot-step-steplist-div">
      <div ng-include src="'views/templates/cot-step-leftside.html'"></div>
    </div>

    <div class="col-xs-5" id="cot-step-map-div">

      <div ng-if="isFit">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events"">
          <ui-gmap-markers models="markerList" coords="'self'" fit="'true'" icon="'icon'" events="marker.events"></ui-gmap-markers>
        </ui-gmap-google-map>
      </div>

      <div ng-if="!isFit">
        No fit
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">

          <ui-gmap-window templateUrl="'views/templates/poi-view.html'" options="windowOpt"
                          show="windowOpt.show"
                          closeClick="closeWindow"
                          templateParameter="poiSelected" coords="poiSelected">
          </ui-gmap-window>

          <ui-gmap-markers models="markerList" coords="'self'" icon="'icon'" events="marker.events" click="clickMarker()">
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>

    </div>

    <div class="col-xs-4" id="cot-step-quest-div">
      <!-- LES QUESTS & détails POI -->
      <div ng-include src="'views/templates/cot-step-rightside.html'"></div>
    </div>

    <!-- Modal -->
    <div ng-include src="'views/templates/cot-step-faq.html'"></div>
  </div>
</div>


<br/>
