<ion-view view-title="Historique" ng-init="getEvents()">
<ion-content>

<timeline>

    <timeline-event ng-repeat="event in events | filter:timestamp" ng-if="$index > 0" side="right">
      <timeline-badge class="{{colors(event.type)}}">
        <i class="{{icons(event.type)}}"></i>
      </timeline-badge>
      <timeline-panel class="{{colors(event.type)}}">
        <timeline-heading>
          <h4>{{event.joueur}}{{descriptions(event.type)}}</h4>
        </timeline-heading>
        <p>{{event.timestamp}}</p>
      </timeline-panel>
    </timeline-event>
    <button ng-click="addEvent()">Add New Event</button>
    <button ng-click="getEvents()"> Get timeline </button>
  </timeline>
</ion-content>
</ion-view>