<ion-view view-title="Historique">
<ion-content>

<timeline>
    <timeline-event ng-repeat="event in events" side="right">
      <timeline-badge class="{{colors(event.type)}}">
        <i class="{{icons(event.type)}}"></i>
      </timeline-badge>
      <timeline-panel class="{{colors(event.type)}}">
        <timeline-heading>
          <h4>{{event.joueur}}{{descriptions(event.type)}}</h4>
        </timeline-heading>
        <p>{{event.timestamp}}</p>
      </timeline-panel>
    </timeline-event>
  </timeline>
</ion-content>
</ion-view>