<div class="container container-padding">
    <div class="row">
        <div class="col-xs-12">

            <div class="panel panel-default">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">

                        <h2 class="">Création</h2>

                        <!-- Preselection part -->
                        <div ng-hide="partSelected">
                            <a href="" ng-click="photo=true ; partSelected = true">Défi Photo</a>
                            <br />
                            <a href="" ng-click="riddle=true ; partSelected = true">Énigme</a>
                            <br />
                        </div>
                        <!-- Photo form -->

                        <form ng-submit="createPhoto()" ng-show="photo"class="margin-base-vertical">
                            <h3>Défi photo</h3>
                            <div class="row">
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="photoToCreate.name" placeholder="Nom du défi" required />
                                    <input type="text" class="form-control" ng-model="photoToCreate.target" placeholder="Quoi prendre en photo" required />
                                    
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-check"></i></button>
                                <button ng-click="photo=false; partSelected=false" class="btn btn-danger pull-right"><i class="fa fa-undo"></i></button>

                            </div>
                        </form>
                       
                        <form ng-submit="createRiddle()" ng-show="riddle" class="margin-base-vertical">
                            <h3>Énigme</h3>

                            <div class="row">
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="riddleToCreate.name" placeholder="Nom" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="riddleToCreate.keywords" placeholder="Mots clefs" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-11">
                                    <textarea class="form-control" rows="4" ng-model="riddleToCreate.desc" placeholder="Description" required></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" ng-model="riddleToCreate.hint" placeholder="Indice" />
                                </div>
                                <div class="col-xs-5">
                                    <input type="text" class="form-control" ng-model="riddleToCreate.answer" placeholder="Réponse" required />
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-success pull-right"><i class="fa fa-check"></i></button>
                                <button ng-click="riddle=false; partSelected=false" class="btn btn-danger pull-right"><i class="fa fa-undo"></i></button>

                            </div>

                        </form>
                        
                    </div>

                </div>
                <!-- //main content -->
            </div>
        </div>
    </div>
</div>
