<div class="container-fluid overflow" ng-controller="StatCtrl as ctrl">

    <div class="row full-screen"  ng-if="!showGraph" ng-init="init()">

        <div class="search-bar autocompletedemoCustomTemplate">

            <md-content id="pac-input" class="md-padding center-block">
            <form ng-submit="$event.preventDefault()">

                <md-autocomplete ng-disabled="ctrl.isDisabled" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Cherchez une COT ou un POI" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <span class="item-title">{{item.display}}</span>
                        <span class="item-metadata">
                            <span class="item-metastat">
                                {{item.type}}
                            </span>
                        </span>
                    </md-item-template>
                </md-autocomplete>

            </form>
            </md-content>

        </div>

        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
            <ui-gmap-markers models="markerList" coords="'self'" icon="'icon'"></ui-gmap-markers>
        </ui-gmap-google-map>


        <div class="color-bar-container center-block" ng-if="PoiDetails">

            <div class="row">

                <div class="text-center">Temps moyen par utilisateur</div>

            </div>

            <div class="color-row center-block">
                <div class="col-sm-2 center-block">0 min</div>
                <div class="col-sm-8 color-bar center-block">
                    <div class="mark" ng-style="{'left': left}"></div>
                </div>
                <div class="col-sm-2 center-block">4 heures</div>
            </div>
        </div>

        <div class="color-bar-container center-block" ng-if="CotDetails">

            <div class="center">

                <div class="inline" ng-click="show()">Accéder aux graphiques</div>

            </div>

        </div>

    </div>

    <div class="row stat-main"  ng-if="showGraph" ng-init="startGraph()">

        <div class="search-bar autocompletedemoCustomTemplate">

            <md-content id="pac-input" class="md-padding center-block">
                <form ng-submit="$event.preventDefault()">

                    <md-autocomplete ng-disabled="ctrl.isDisabled" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Cherchez une COT ou un POI" md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <span class="item-title">{{item.display}}</span>
                            <span class="item-metadata">
                            <span class="item-metastat">
                                {{item.type}}
                            </span>
                        </span>
                        </md-item-template>
                    </md-autocomplete>

                </form>
            </md-content>

        </div>

        <div id="container-chart">

        </div>
    </div>

    <div class="row stat-sub2" ng-if="showGraph">
        <div class="col-xs-6 min-stat1 center-block" id="min-container-chart"></div>
        <div class="col-xs-6 min-stat2 center-block" id="min-container-chart2"></div>
    </div>


</div>