<div class="container-fluid" ng-controller="StatCtrl as ctrl" ng-init="init()">

    <div class="row stat-main"  ng-show="active">

        <!--<button ng-click="active = false">{{active}}</button>
        <div>Maps</div>-->

        <div class="search-bar">
         <!--<input id="pac-input" class="controls text-center center-block" type="text" placeholder="Cherchez une chasse ou un POI">-->

            <md-content id="pac-input" class="md-padding center-block">
            <form ng-submit="$event.preventDefault()">

                <md-autocomplete ng-disabled="ctrl.isDisabled" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)" md-search-text="ctrl.searchText" md-selected-item-change="ctrl.selectedItemChange(item)" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Cherchez une chasse ou une POI">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{ctrl.searchText}}" were found.
                        <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                    </md-not-found>
                </md-autocomplete>

            </form>
            </md-content>



        </div>

        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
            <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id" events="marker.events"></ui-gmap-marker>
        </ui-gmap-google-map>




    </div>

    <div class="row stat-sub">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped">

            <thead>
            <tr>
                <th st-sort="name" class="text-center">
                    <div class="stat-tab-title">Nom</div>
                </th>
                <th st-sort="name" class="text-center">
                    <div class="stat-tab-title">Nombre de personnes</div>
                </th>
                <th st-sort="name" class="text-center">
                    <div class="stat-tab-title">Temps moyen</div>
                </th>

            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="user in displayedCollection">

                <td class="text-center" >
                    <div class="stat-tab-line">{{user.name}}</div>
                </td>
                <td class="text-center">
                    <div class="stat-tab-line">{{user.people}}</div>
                </td>
                <td class="text-center">
                    <div class="stat-tab-line">{{user.avg_time}}</div>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="3" st-displayed-pages="6"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>



    <div ng-hide="active">
        <div class="animate-switch">graph</div>
    </div>

</div>