<ion-view title="select" ng-controller="HomeCtrl" ng-init="init()">
    <ion-content class="padding centered" scroll="false">

        <div class="treasure-hunt-header">
            <div class="treasure-hunt-title">{{choice.name}}</div>
            <div class="sub-info">durée estimée : {{choice.dure}}</div>
        </div>

        <div class="justified">{{choice.description}}</div>

        <div id="map-preview" data-tap-disabled="true" style="width: 100%;
    height: 100%;"></div>

        <!--<div ng-if="showtheview" ng-include="view"></div>-->

        <!--<div id="map_canvas" data-tap-disabled="true"></div>-->

    </ion-content>

    <div class="bar bar-footer bar-balanced">
        <a href="#/tab/dash" class="title">Commencer</a>
    </div>

</ion-view>