<ion-view title="teamview" ng-controller="TeamviewCtrl" ng-init="listTeam()">
    <ion-content>
        <br/>
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Pseudo" name="nom" ng-model="myname"/>
          </label>
          <label class="item item-select">
            <!-- <select ng-model="myteam" >
           <option ng-repeat="x in teamList"> {{x.name}} </option>
          </select> -->
          Choisir une équipe
            <select ng-model="myteam">
               <option ng-repeat="x in teamList"> {{x.name}} </option>
            </select>
            <!-- <button class="button button-positive" ng-click="join(myname, myteam)">Rejoindre une équipe!</button> -->
          </label>

        </div>
        <button class="button button-stable" ng-click="playSolo(myname)">Jouer en Solo</button>
        <button ng-show="myteam" class="button button-positive" ng-click="join(myname, myteam)">Rejoindre l'équipe {{myteam}}</button>
        <br/>
        <div ng-show="playerData.name">
          <div ng-show="teamData.name">
            <div class="card">
              <div class="item item-text-wrap">
                Félicitation {{playerData.name}}, vous avez rejoint l'équipe {{teamData.name}} !
              </div>
            </div>
          </div>
        </div>

    </ion-content>
</ion-view>
