<ion-view title="teamview" ng-controller="TeamviewCtrl" ng-init="listTeam()">
    <ion-content>
        {{activeQuest}} 
        <br/>
        <input type="text" name="nom" ng-model="myname">
        <select ng-model="myteam">
               <option ng-repeat="x in teamList" > {{x.name}} </option>
        </select>
                <button ng-click="join(myname, myteam)" >Rejoindre une équipe!</button>
                <br/>
                <button ng-click="playSolo(myname)" >Jouer en solo!</button>
                <br/>
        {{playerData.name}}<br/>
        {{teamData.name}}

    </ion-content>
</ion-view>