<div class="row" id="cot-step-row">
    <div class="col-xs-2" id="cot-step-steplist-div">
        LES STEPS
    </div>

    <div class="col-xs-6" id="cot-step-map-div">
        LA MAP
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">

                <div ng-non-bindable="">test</div>

            </ui-gmap-window>

            <ui-gmap-markers idkey="'bid'" models="map.markers" coords="'self'" docluster="false" fit="'true'" icon="'icon'" events="map.markersEvents" options="'options'">
            </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>

    <div class="col-xs-4" id="cot-step-quest-div">
        LES QUESTS & détails POI

        <!-- Partie sur les quêtes -->
        <div id="cot-step-questlist"> <!-- Liste des quêtes -->
            <div class="cot-step-quest"> <!-- Un exemple d'une quête -->
                <p> Name</p>
                <p>details</p>
                <div>le switch de ses morh</div>
            </div>
        </div>

        <!-- Partie sur les détails du poi -->
        <div id="cot-step-details">
            <p>Name</p>
            <p>Description</p>
            <img />  <!--Photo-->
        </div>

        <button>Details/quests toggle</button>
    </div>

    

</div>