<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editStep">Valider</button>
<!-- Square switch with customized icons -->

<!-- Modal -->
<div id="editStep" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Informations générales</h4>
      </div>
      <div class="modal-body">
        <form class="margin-base-vertical">
          <input type="text" class="form-control" name="name" placeholder="Nom" required/>
          <textarea class="form-control" rows="4" name="desc" placeholder="Description" required></textarea>
          <input type="text" class="form-control" name="hint" placeholder="Indice" />


          <!-- Square switch with customized icons -->
          <div class="bootstrap-switch-square">
            <input type="checkbox" data-on-text="<i class='fui-check'></i>" data-off-text="<i class='fui-cross'></i>" name="custom-square-switch-icons" id="switch-11" />
          </div>

          <label>Check me to check both: <input type="checkbox" ng-model="master"></label><br/>

          <input id="checkSlave" type="text" ng-checked="master" aria-label="Slave input">

          <p class="input-group">
            <input type="text" class="form-control" name="answer" placeholder="Réponse" required/>
            <span class="input-group-btn">
                  <button type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
              </span>
          </p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" data-dismiss="modal"><i class="fa fa-check"></i></button>
      </div>
    </div>

  </div>
</div>
<script>
  $("[name='my-checkbox']").bootstrapSwitch({
    disabled: true
  });

  $("[name='my-checkbox']").bootstrapSwitch(); //initialized somewhere
$("[name='my-checkbox']").bootstrapSwitch('disabled',true);
</script>
