<div ng-init="init()"></div>
<div class="container container-padding">
  <div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

          <h2 class="" >Liste des COTs</h2>
          <div ng-repeat="cot in listCots">
            <div class="well well-sm">
              <div class="row">
              <div class="col-xs-10">
                {{cot.name}}
              </div>
              <div class="col-xs-2">
                <span ng-click="removeCot(cot._id)" class="label label-danger">
                  <i class="fa fa-trash"></i>
                </span>
              </div>
              </div>

            </div>
          </div>

        </div>

        </div>
        <!-- //main content -->
      </div>
    </div>
  </div>
</div>
