<div class="container container-padding">
  <div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

          <h2 class="">Création</h2>
          <form class="margin-base-vertical">
            <div class="row">
              <div class="col-xs-5">
                <input type="text" class="form-control" name="name" placeholder="Nom" required/>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <input type="text" class="form-control" name="keywords" placeholder="Mots clefs" />
              </div>
            </div>
            <div class="row">
              <div class="col-xs-11">
                <textarea class="form-control" rows="4" name="desc" placeholder="Description" required></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6">

              <input type="text" class="form-control" name="hint" placeholder="Indice" />
            </div>
            <div class="col-xs-5">

                <input type="text" class="form-control" name="answer" placeholder="Réponse" required/>
            </div>
          </div>

          <div class="row">
            <button type="submit" class="btn btn-success pull-right"><i class="fa fa-check"></i></button>
          </div>

          </form>
        </div>

        </div>
        <!-- //main content -->
      </div>
    </div>
  </div>
</div>
</div>
