<div id="centered-block-id">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">

        <h1 class="margin-base-vertical">Création</h1>

        <form class="margin-base-vertical">
            <input type="text" class="form-control" name="name" placeholder="Nom" />
            <input type="text" class="form-control" name="keyword" placeholder="Mots clefs" />
            <textarea class="form-control" rows="4" name="description" placeholder="Description"></textarea>
            <input type="text" class="form-control" name="hint" placeholder="Indice" />
            <p class="input-group">
              <input type="text" class="form-control" name="answer" placeholder="Réponse" />
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
              </span>
            </p>
        </form>
      </div>
      <!-- //main content -->
  </div>
</div>
