<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-default">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">

        <h2 class="margin-base-vertical">Création</h2>

        <form class="margin-base-vertical">
          <input type="text" class="form-control" name="name" placeholder="Nom" required/>
          <input type="text" class="form-control" name="keywords" placeholder="Mots clefs" />
          <textarea class="form-control" rows="4" name="desc" placeholder="Description" required></textarea>
          <input type="text" class="form-control" name="hint" placeholder="Indice" />
          <p class="input-group">
            <input type="text" class="form-control" name="answer" placeholder="Réponse" required/>
            <span class="input-group-btn">
                  <button type="submit" class="btn btn-success"><i class="fa fa-check"></i></button>
              </span>
          </p>
        </form>
      </div>
      <!-- //main content -->
    </div>
  </div>
</div>
</div>
