<div class="collapse navbar-collapse" ng-controller="NavBarCtrl" id="js-navbar-collapse">

  <ul class="nav navbar-nav">
    <li ng-class="{ active: isActive('/')}"><a href="#!/"><i class="fa fa-home"></i></a></li>
    <li ng-class="{ active: isActive('/cot-start')}"><a href="#!/cot-start"><i class="fa fa-plus-square"></i></a></li>
    <li ng-class="{ active: isActive('/cot-step')}"><a href="#!/cot-step"><i class="fa fa-edit"></i></a></li>
    <!-- <li ng-class="{ active: isActive('/cot-step-wip')}"><a href="#!/cot-step-wip"><i class="fa fa-heart"></i></a></li> -->
    <li ng-class="{ active: isActive('/enigma-form')}"><a href="#!/enigma-form"><i class="fa fa-lightbulb-o"></i></a></li>
    <li ng-class="{ active: isActive('/poi-list')}"><a href="#!/poi-list"><i class="fa fa-map-marker"></i></a></li>
    <li ng-class="{ active: isActive('/stats')}"><a href="#!/stats"><i class="fa fa-bar-chart"></i></a></li>
  </ul>
</div>
