<div class="container-fluid" style="padding-top: 2%">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-xs-8">
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
          <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">

            <div ng-non-bindable="">test</div>

          </ui-gmap-window>

          <ui-gmap-markers idkey="'bid'" models="map.markers" coords="'self'" docluster="false" fit="'true'" icon="'icon'" events="map.markersEvents" options="'options'">
          </ui-gmap-markers>
        </ui-gmap-google-map>
      </div>

      <div class="col-xs-4">
        <div class="row" ng-repeat="poi in listPois">
          <div class="col-xs-6">
            <div ng-show="!isEdited">
            <p>{{poi.name}}</p>
          </div>
          <div ng-show="isEdited">
            <textarea class="form-control" rows="2" ng-model="poi.name"></textarea>
          </div>
          </div>
          <div class="col-xs-6">
            <img src="{{poi.image}}" class="img-responsive" alt="Cinque Terre">
          </div>
          <div class="col-xs-12">
            <div ng-show="!isEdited">
            <p>{{poi.desc}}</p>
              <button ng-click="edit()" class="btn btn-primary pull-right">Edit</button>
            </div>
            <div ng-show="isEdited">
              <div class="form-group">
                <textarea class="form-control" rows="10" ng-model="poi.desc"></textarea>
              </div>
              <button ng-click="save()" class="btn btn-success pull-right">Save</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
