<section>
  <div class="page-header">
    <h1>Timelines</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="timeline in vm.timelines"
       ui-sref="timelines.view({ timelineId: timeline._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="timeline.created | date:'mediumDate'"></span>
        by
        <span ng-if="timeline.user" ng-bind="timeline.user.displayName"></span>
        <span ng-if="!timeline.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="timeline.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.timelines.$resolved && !vm.timelines.length">
    No Timelines yet, why don't you <a ui-sref="timelines.create">create one</a>?
  </div>
</section>
